<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title></title>
  <link href="css/style.css" rel="stylesheet">
</head>

<body>
  {% if latest_transaction_list%}
  <ul>
    {% for transaction in latest_transaction_list %}
    <li><a href="{% url 'Transactions:list_transactions' transaction.id %}"> {{ transaction.category }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>No transactions are available.</p>
  {% endif %}

</body>

</html>
