<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <link href="css/style.css" rel="stylesheet">
  </head>
  <body>

    <table>
      <tr>
        <th>Category</th>
        <th>Amount</th>
      </tr>

    {% for transaction in transactions %}
      <tr>
        <td>{{ transaction.category}}</td>
        <td>{{ transaction.amount}}</td>
      </tr>
    {% endfor %}

      <tr>
        <td><b>Total</b></td>
        <td><b>{{ total }}</b></td>
      </tr>
    </table>  

  </body>
</html>
