{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Transaction</title>
        <link rel="stylesheet" href="{% static 'transactions/style.css' %}">
    </head>
    <body>
        <h1>New Transaction</h1>
        <form id= "transactionForm" action="" method="post">
            {% csrf_token %}
            <!-- renders form fiels as paragraphs -->
            {{ form.as_p }}
            <button type="submit">save</button>
        </form>
        <hr>
        <h2>Recent Transactions</h2>
        <table id="transactionTable">
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            {% for transaction in transactions %}
                <tr data-transaction-id="{{ transaction.id }}">
                    <td class="editable-category">{{ transaction.category }}</td>
                    <td class="editable-amount">{{ transaction.amount }}</td>
                    <td class="editable-date">{{ transaction.date|date:"Y-m-d" }}</td>
                    <!-- Date cell -->
                    <td>
                        <button class="edit-btn" data-transaction-id="{{ transaction.id }}">Edit</button>
                        <button class="delete-btn" data-transaction-id="{{ transaction.id }}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <b>Total</b>
                </td>
                <td colspan="2">
                    <b id="totalAmount">{{ total }}</b>
                </td>
            </tr>
        </table>
        {# <script src="{% static 'transactions/script.js' %}"></script> #}
        <script src="../../static/transactions/script.js"></script>
    </body>
</html>
