{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>New Transaction</title>
        <link rel="stylesheet" href="{% static 'transactions/style.css' %}">
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    </head>
    <body>
        <h1>Transactions</h1>
        {% csrf_token %}
        <h2>Recent Transactions</h2>
        <table id="transactionTable">
            <tr>
                <th>Category</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Actions</th>
            </tr>
            <tr id="inlineNewTransaction">
                <td><input type="text" id="newCategory"></td>
                <td><input type="number" id="newAmount"></td>
                <td><input type="date" id="newDate"></td>
                <td><button id="saveNewTransaction">Save</button></td>
            </tr>
            {% for transaction in transactions %}
                <tr data-transaction-id="{{ transaction.id }}">
                    <td class="editable-category">{{ transaction.category }}</td>
                    <td class="editable-amount">{{ transaction.amount }}</td>
                    <td class="editable-date">{{ transaction.date|date:"Y-m-d" }}</td>
                    <td>
                        <button class="edit-btn" data-transaction-id="{{ transaction.id }}">Edit</button>
                        <button class="delete-btn" data-transaction-id="{{ transaction.id }}">Delete</button>
                    </td>
                </tr>
            {% endfor %}
            <tr>
                <td>
                    <b>Total</b>
                </td>
                <td colspan="2">
                    <b id="totalAmount">{{ total }}</b>
                </td>
            </tr>
        </table>
        <h2>Spending by Category</h2>
        <div class="chart-container">
            <canvas id="categoryChart"></canvas>
        </div>
        {{ category_totals|json_script:"chart-data" }}  <script src="../../static/transactions/script.js"></script>
    </body>
</html>
